@model firebase1.Models.SignUp

@{
    ViewBag.Title = "SignUp";
}

<style>
    .sectionCenter {
        margin: auto;
        width: 50%;
        padding: 50px;
        /* text-align: left;*/
    }

    .signup {
        color: black;
        margin-left: 20px;
    }

    .create{
        text-align:center;
    }
    
    






</style>




<body style="background-color: #6EAC80;">
    <section class="sectionCenter">

        <div class=" signup">
            <h2 align="center">Create Account</h2>
            </div>
        <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">


                    <hr style="color:black;" />
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />


                    <div class="create">
                    <div class="form-group">
                        <div class=" col-md-offset-2 col-md-10">
                            <input type="submit" value="Create Account"  @*class="btn btn-default"*@ @*class="btn btn-dark"*@ class="btn @*btn-primary*@  btn-outline-success btn-lg btn-block" />
                        </div>
                    </div>
                    </div>
                </div>
            }





    </section>
    </body>


    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
