@model IEnumerable<firebase1.Models.Bursary>

@{
    ViewBag.Title = "Bursary";
}

<style>
    .back{
        text-align:center;
    }

    .bur {
        color: black;
        text-align: center;
    }



</style>





<body style="background-color: #6EAC80;">

    <div class="bur">
        <h2><u>List of Bursaries</u></h2>
        </div>

    <br />
        <!-- include summernote css/js -->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

        <table class="table" style="border-color:black;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.ResponseMessage)
                    </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName,new { htmlAttributes = new { @class = "form-control " } })
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>*@
                    <td>
                        @Html.TextAreaFor(modelItem => item.Message, htmlAttributes: new { @class = "form-control summernote" })
                    </td>
                    @*<td>
                            @Html.TextAreaFor(modelItem => item.ResponseMessage, new { htmlAttributes = new { @class = "form-control summernote" } })
                        </td>*@
                    <td>
                        @*@Html.ActionLink("Respond", "Edit", new { id = item.BursaryId })
                            @Html.ActionLink("Details", "Details", new { id = item.BursaryId })*@
                        <button type="button" class="btn btn-success btn-lg btn-block">   @Html.ActionLink("Delete", "Delete", new { id = item.BursaryId }) </button>
</td>
                </tr>
            }

        </table>


        <div class="back">
            <button type="button" class="btn btn-success btn-lg btn-block"> @Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "nav-link" }) </button>
        </div>

</body>

    @section Scripts {

        @*@summernote*@
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.summernote').summernote();
            });
        </script>

        @Scripts.Render("~/bundles/jqueryval")
    }
