@model firebase1.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Contact Message Detail</h2>
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd> 

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control summernote" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponseMessage)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ResponseMessage, new { htmlAttributes = new { @class = "form-control summernote" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Respond", "Edit", new { id = Model.CommentId }) |
    @Html.ActionLink("Back to List Messages", "Index")
</p>

@section Scripts {

    @*@summernote*@
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({

            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
